<div class="brand-filter">
  <!-- All Brands Option -->
  <div
    #brandItem
    *ngIf="showAllOption"
    class="brand-item"
    [class.active]="isActive(null)"
    (click)="selectBrand(null)">
    <div class="brand-image-wrapper">
      <div class="brand-image toggle-button">
        <i class="pi pi-building"></i>
      </div>
    </div>
    <span class="brand-name">{{ allLabel | translate }}</span>
  </div>

  <!-- Individual Brands -->
  <div
    #brandItem
    *ngFor="let brand of brands; trackBy: trackByBrand"
    class="brand-item"
    [class.active]="isActive(brand.id)"
    (click)="selectBrand(brand.id)">
    <div class="brand-image-wrapper">
      <img
        *ngIf="brand.logo_url"
        [src]="brand.logo_url"
        [alt]="brand.name"
        class="brand-image">
      <div
        *ngIf="!brand.logo_url"
        class="brand-image toggle-button">
        <i class="pi pi-building"></i>
      </div>
    </div>
    <span class="brand-name">{{ brand.name }}</span>
  </div>

  <!-- Sliding Indicator -->
  <div
    class="brand-indicator"
    [style.left.px]="indicatorLeft"
    [style.width.px]="indicatorWidth">
  </div>

  <!-- Search Toggle Button -->
  <div
    *ngIf="showSearchIcon"
    class="search-toggle-btn"
    [class.active]="isSearchOpen"
    (click)="toggleSearch()">
    <i *ngIf="!isSearchOpen" class="pi pi-search"></i>
    <i *ngIf="isSearchOpen" class="pi pi-times"></i>
  </div>

  <!-- Loading state -->
  <div *ngIf="loading" class="loading">
    <i class="pi pi-spin pi-spinner"></i>
  </div>
</div>
