<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-table 
    #usersTable
    [value]="users" 
    [loading]="loading"
    [scrollable]="true"
    [tableStyle]="{'min-width': '60rem'}"
    scrollHeight="88vh"
    [globalFilterFields]="['nom', 'prenom', 'email', 'role']"
>

    <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
            <p-iconfield iconPosition="left" class="mr-2">
                <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                <input
                  pInputText
                  (input)="usersTable.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search..."
                  [value]=""
                />
              </p-iconfield>
            <div class="flex align-items-center gap-2">
                <button 
                    pButton 
                    type="button" 
                    icon="pi pi-plus" 
                    label="Add User" 
                    class="p-button-success" 
                    (click)="openNew()">
                </button>
 
                
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <!-- <th pSortableColumn="user_id" style="white-space: nowrap">ID <p-sortIcon field="user_id"></p-sortIcon></th> -->
            <th pSortableColumn="nom" class="right-border" pFrozenColumn style="white-space: nowrap">Nom <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="prenom" style="white-space: nowrap">Prénom <p-sortIcon field="prenom"></p-sortIcon></th>
            <th pSortableColumn="email" style="white-space: nowrap">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="mobile" style="white-space: nowrap">Mobile <p-sortIcon field="mobile"></p-sortIcon></th>
            <th pSortableColumn="commune" style="white-space: nowrap">Commune <p-sortIcon field="commune"></p-sortIcon></th>
            <th pSortableColumn="wilaya" style="white-space: nowrap">Wilaya <p-sortIcon field="wilaya"></p-sortIcon></th>
            <th pSortableColumn="role" style="white-space: nowrap">Role <p-sortIcon field="role"></p-sortIcon></th>
            <th pSortableColumn="createdAt" style="white-space: nowrap" >Created <p-sortIcon field="createdAt"></p-sortIcon></th>
            <th class="left-border"   alignFrozen="right"  pFrozenColumn></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
        <tr>
            <!-- <td>{{ user.user_id }}</td> -->
            <td pFrozenColumn class="right-border">{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.commune }}</td>
            <td>{{ user.wilaya }}</td>
            <td>
                <span [class]="'user-badge status-' + user.role.toLowerCase()">
                    {{ user.role }}
                </span>
            </td>
            <td style="white-space: nowrap">{{ user.createdAt | date:'medium' }}</td>
            <td  pFrozenColumn alignFrozen="right" class="left-border">
                <div class="flex justify-content-center ">
                    <button 
                        pButton 
                        pRipple 
                        icon="pi pi-pencil" 
                        class="p-button-rounded p-button-info p-button-text" 
                        (click)="editUser(user)">
                    </button>
                    <button 
                        pButton 
                        pRipple 
                        icon="pi pi-trash" 
                        class="p-button-rounded p-button-danger p-button-text" 
                        (click)="deleteUser(user)">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="10">No users found.</td>
        </tr>
    </ng-template>

</p-table>

<!-- User Dialog Component -->
<app-user-dialog 
    [(visible)]="dialogVisible" 
    [user]="selectedUser"
    (update)="handleUpdateUser($event)"
    (add)="handleAddUser($event)">
</app-user-dialog>
