<div class="sticky-footer" [class.sticky-footer--no-border]="!showBorder()" [class.sticky-footer--no-shadow]="!showShadow()" [class.sticky-footer--full-width]="fullWidthButton()" [style.padding-bottom]="paddingBottom() || null">
  @if (showAmount()) {
    <div class="sticky-footer__total">
      <div class="sticky-footer__main-row">
        <span class="sticky-footer__label">{{ label() | translate }}</span>
        <span class="sticky-footer__amount"><app-currency [value]="amount()" /></span>
      </div>
      @if (hasDiscount()) {
        <div class="sticky-footer__savings-row">
          <span class="sticky-footer__savings">{{ 'cart.you_save' | translate }} <app-currency [value]="savings()" /></span>
          <i class="pi pi-check"></i>
        </div>
      }
    </div>
  }
  <button
    class="sticky-footer__button"
    [class.sticky-footer__button--disabled]="disabled()"
    [disabled]="disabled()"
    (click)="onButtonClick()">
    <span>{{ buttonLabel() | translate }}</span>
    @if (buttonIcon()) {
      <i [class]="buttonIcon()"></i>
    }
  </button>
  <ng-content></ng-content>
</div>
